In [1]:
str="yashwanth"
print(str.upper())
print(str.lower())

YASHWANTH
yashwanth

In [2]:
s="application"
s1='A'
print(s.isupper())
print(s1.isupper())

False
True

In [3]:
s="application"
s1='A'
print(s.islower())
print(s1.islower())

True
False

In [4]:
s="888"
s1="yashwanth"
print(s.isnumeric())
print(s1.isnumeric())

True
False

In [23]:
s="application"
s1="App123"
print(s.isalpha())
print(s1.isalpha())
print(s.istitle())
print(s1.istitle())

True
False
False
True

In [24]:
str="yash19"
print("_".join(str))

y_a_s_h_1_9

In [35]:
str="y_a_s_h_1_9"
print(str.replace("_",""))

yash19

In [8]:
s="python"
s1=" "
print(s.isspace())
print(s1.isspace())

False
True

In [13]:
print(",".join(["yash","sunny","vivoy83"]))

yash,sunny,vivoy83

In [22]:
s='Python'
print(' '.join(s))

P y t h o n

In [21]:
s="python programming"
print(s.replace("python","c++",1))

c++ programming

In [37]:
t1=("python","programming",1989,1998,"python learning","AI")
print("t1[0]=",t1[0])
print("t1[2]=",t1[2])
print("t1[-1]=",t1[-1])
print("t1[1:4]=",t1[1:4])
print("t1[2:-3]=",t1[2:-3])

t1[0]= python
t1[2]= 1989
t1[-1]= AI
t1[1:4]= ('programming', 1989, 1998)
t1[2:-3]= (1989,)

In [39]:
t1=("python","game","programming")
t2=(10,20,30)
t3=t1+t2
print(t3)

('python', 'game', 'programming', 10, 20, 30)

In [47]:
t1=(10,12,14)
t2=(20,40,50,100)
print(min(t1))
print(max(t2))
print(len(t2))

10
100
4

In [ ]:
t1=("python","programming",1989,1978,)

In [48]:
list1=["python","programming",1989,20109,"machine learning","AI"]
t1=tuple(list1)
print(t1)

('python', 'programming', 1989, 20109, 'machine learning', 'AI')

In [49]:
user1={"name":"Python","age":29,"emailid":"gmail.com","mobileno":8888888888}
print("user1[name]=",user1["name"])
print("user1[age]=",user1["age"])

user1[name]= Python
user1[age]= 29

In [50]:
user1={"name":"Python","age":29,"emailid":"gmail.com","mobileno":8888888888}
print(user1)
user1["Adress"]="Hyderabad"
print(user1)

{'name': 'Python', 'age': 29, 'emailid': 'gmail.com', 'mobileno': 8888888888}
{'name': 'Python', 'age': 29, 'emailid': 'gmail.com', 'mobileno': 8888888888, 'Adress': 'Hyderabad'}

In [51]:
user1={"name":"Python","age":29,"emailid":"gmail.com","mobileno":8888888888}
print("user1[emailid]=",user1["emailid"])
del (user1["emailid"])
print(user1)

user1[emailid]= gmail.com
{'name': 'Python', 'age': 29, 'mobileno': 8888888888}

In [52]:
user1={"name":"Python","age":29,"emailid":"gmail.com","mobileno":8888888888}
print("user1[emailid]=",user1["emailid"])
user1["emailid"]="123gmail.com"
print("user1[emailid]=",user1["emailid"])

user1[emailid]= gmail.com
user1[emailid]= 123gmail.com

In [53]:
user1={"name":"Python","age":29,"emailid":"gmail.com","mobileno":8888888888}
print("user1[name]=",user1["name"])
print("user1[age]=",user1["age"])

user1[name]= Python
user1[age]= 29

In [56]:
lst=["Python","programming"]
print("%s %s" %(lst[0],lst[1]))

Python programming

In [61]:
contacts={}
def addcontact(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print("contact %s is exists"% name)
    else:
            print("contact %s is already exists"% name)
    return
    
addcontact("yashwanth",7337417415)
addcontact("sushanth",9986589745)
addcontact("aravind",9458621574)
addcontact("yashwanth",7337417415)

contact yashwanth is exists
contact sushanth is exists
contact aravind is exists
contact yashwanth is already exists

In [63]:
def searchcontact(name):
    if name in contacts:
        print(name," : " , contacts[name])
    else:
        print("%s does not exists" % name)
    return
              
searchcontact("yashwanth")
searchcontact("sushanth")
searchcontact("vamsi")

yashwanth  :  7337417415
sushanth  :  9986589745
vamsi does not exists

In [72]:
def importcontacts(newcontacts):
    contacts.update(newcontacts)
    print(len(newcontacts.keys()),"contacts added successfully")
    return          
newcontacts={'dinesh':9584267552,'ajay':9458712563}
importcontacts(newcontacts)

2 contacts added successfully

In [88]:
def deletecontact(name):
     if name in contacts:
             del contacts[name]
             print(name," : is deleted from contacts")
     else:
        print(name,"is not exists in the contacts")
     return

deletecontact("yashwanth")
deletecontact("vamshi")

yashwanth  : is deleted from contacts
vamshi is not exists in the contacts

In [93]:
def updatecontact(name,phone):
    if name in contacts:
        contacts[name]=phone
        print(name," : updated with new phone number")
    else:
        print(name,"not exists in the contacts")
    return 

updatecontact("sushanth",9568246852)

sushanth  : updated with new phone number

In [101]:
list=[1,2,3.4]
print("value at :{0} value at:{1}".format(list[0],list[1]))
print("value at :{0} value at:{1}".format(list[0],list[1]))

value at :1 value at:2
value at :1 value at:2

In [102]:
from math import floor as f1
f1(123.456)

123

In [103]:
from math import factorial as fact
fact(5)

120

In [104]:
import math
math.factorial(5)

120

In [107]:
import random
def generaterandomnumbers(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub,),end=" ")
    return
generaterandomnumbers(10,12,120)

47 52 112 65 119 99 97 65 70 97

In [111]:
d={"john":40,"peter":45}
print(list(d.keys()))

TypeError: 'list' object is not callable